%html
  %head
    %title Thud Thud :: Drum Kit
    %link(rel="stylesheet" href="style.css" type="text/css")
    %script(src="/js/socket.io.js")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script(src="/thudthud.js")
  %body
    .header Thud Thud
    :each drum in drums
      :each bar in bars
        %audio(id="snd-!{drum}-!{bar}" preload="auto" autobuffer="true" src="/sound/!{drum}.ogg" type="audio/ogg")

    .machine
      %table#machine_table
        :each bar in bars
          %th(id="!{bar}" class="inactive")
        :each drum in drums
          %tr(id="!{drum}")
            :each bar in bars
              %td(id="!{bar}")
                !{drum} and !{bar}

    .mute
      %a(id="mute")
        We're in the same room; mute this one!
