%html
  %head
    %title Thud Thud :: Drum Kit
    %link(rel="stylesheet" href="style.css" type="text/css")
  %body
    .header Thud Thud
    
    :each drum in drums
      %audio(preload="auto" controls="True" autoplay="true" autobuffer="true")
        %source(src="sound/!{drum}.ogg" type="audio/ogg")

    .machine
      %table#machine_table
        :each drum in drums
          %tr(id="!{drum}")
            :each bar in bars
              %td(id="!{bar}")
                !{drum} and !{bar}
