%html
  %head
    %title Thud Thud :: Drum Kit
    %link(rel="stylesheet" href="style.css" type="text/css")
  %body
    .header Thud Thud

    .machine
      %table#machine_table
        :each drum in drums
          %tr(id="!{drum}")
            :each bar in bars
              %td(id="!{bar}")
                !{drum} and !{bar}
